/* BASE */
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
.header {
  background-color: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  color: #2196f3;
}

.logo-dark {
  color: #000000;
}

.logo-light {
  color: #ffffff;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-link {
  font-weight: 500;
  line-height: 1.14;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: #2196f3;
}

.contacts-list {
  display: flex;
  gap: 50px;
}

.address-link {
  font-weight: 500;
  line-height: 1.14;
  color: #757575;
}

/* HERO */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #ffffff;

  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;

  padding: 16px 32px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}


/* SECTIONS */
.section-title {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
}

.feature-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}



.feature-text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

/* TEAM */
.team {
  background-color: #f5f4fa;
}

.team-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}

.team-role {
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

/* FOOTER */
.footer {
  background-color: #2f303a;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
